[Desktop Entry]
Type=Application
Name=Vex
GenericName=Spreadsheet Editor
Comment=View and edit CSV and Excel tables in the terminal
Exec=alacritty -e vex %f
TryExec=vex
Icon=accessories-text-editor
Terminal=false
Categories=Office;Spreadsheet;
MimeType=text/csv;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroEnabled.12;
NoDisplay=true
